<!-- head.component.html -->
<header class="header">
    <div class="top-bar">
      <img src="assets/logo/img.avif" alt="School Logo" class="logo" />
      <div class="school-info">
        <h1>G N A DEVINE PUBLIC SCHOOL</h1>

        <p>Vijay Sweets wali gali, 107D, Nissing, Haryana 132024</p>
      </div>
    </div>
  
  

    <nav class="nav-bar">
      <button class="menu-toggle" (click)="toggleMenu()">☰</button>
    
      <div class="nav-links" [class.open]="menuOpen">
        <a href="#">Online Admission Enquiry</a>
        <a href="#">Online Registration Form</a>
        <a href="#">School Rules & Policy</a>
        <a href="#">Login</a>
        <a href="#">Terms and Conditions</a>
        <a href="#">Contact Us</a>
        <a href="#">About School</a>
      </div>
    </nav>
    
  </header>
  