<footer class="footer">
    <div class="footer-container">
      <div class="footer-top">
        <h3>G N A DEVINE PUBLIC SCHOOL</h3>
        <p>Vijay Sweets wali gali, 107D, Nissing, Haryana 132024</p>
        <p>Email: <a href="mailto:casharmark.ankush@gmail.com">GNA&#64;gmail.com</a></p>
        <p>Phone: <a href="tel:+919896729375">+91-9896729375</a></p>
      </div>
      <div class="footer-bottom">
        <p>&copy; {{ currentYear }} G N A DEVINE PUBLIC SCHOOL All rights reserved.</p>
      </div>
    </div>
  </footer>
  